In [1]:
import cclib as cc
import pandas as pd
import numpy as np
import glob

In [2]:
DIR_PATH = './test_files/p0o1/'
param_names = ['param1','param2','version','infected']

In [3]:
param_df = pd.read_pickle(DIR_PATH+'param_setup.pkl')
# filename parameter pattern: n,T,f,p,r,u
filename_list = glob.glob(DIR_PATH+'*.pkl')
filename_list.sort()

N = param_df.iloc[0]['N']

# initialize dictionary for dataframe
dict = {}
for param in param_names:
    dict[param] = []

for filename in filename_list[:-1]:         # last entry is setup_param.pkl
    param_string = filename.split('/')[-1]
    param_val = cc.get_param(param_string[:-4])
    for i in range(len(param_val)):
        dict[param_names[i]].append(param_val[i])
    dict['infected'].append(cc.obs_getstats(filename)/N)

df = pd.DataFrame(dict)

In [4]:
display(df)

   param1  param2 version  infected
0     0.1    10.0      s0  0.500000
1     0.1    10.0      s1  0.333333

In [5]:
filename = '../data/03RUN/p0o1/0o1-10-0o1-0o1-1-0_s0.pkl'

df = pd.read_pickle(filename)
display(df)

                                         Cluster list Cluster Status
0   [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...              0
1                                                 [3]              1
2                                                [68]              1
3                                                [72]              1
4                                                [73]              1
..                                                ...            ...
57                                             [2825]              0
58                                             [2876]              0
59                                             [3041]              0
60                                             [3043]              0
61                                             [3137]              0

[62 rows x 2 columns]

In [10]:

# This part is a little sneaky...
lx = [[0.1,0.2]]
ly = [[10,20]]
sx = pd.Series(lx, dtype=np.dtype("object"))
sy = pd.Series(ly, dtype=np.dtype("object"))

dict = {'param1':sx,'param2':sy,'N':10}
df_ = pd.DataFrame(dict)
display(df_)
pd.to_pickle(df_,'./test_files/p0o1/param_setup.pkl')

       param1    param2   N
0  [0.1, 0.2]  [10, 20]  10

In [23]:
dict = {'Cluster list':[[0,1],[2,3,4,5,6,7,8,9]],'Cluster Status':[1,0]}
df_ = pd.DataFrame(dict)
display(df_)
pd.to_pickle(df_,'./test_files/p0o2/0o1-10_s1.pkl')

               Cluster list  Cluster Status
0                    [0, 1]               1
1  [2, 3, 4, 5, 6, 7, 8, 9]               0

In [24]:
dict = {'Cluster list':[[0,1],[2,3,4,5,6,7,8,9]],'Cluster Status':[0,1]}
df__ = pd.DataFrame(dict)
display(df__)
pd.to_pickle(df__,'./test_files/p0o2/0o1-10_s0.pkl')

               Cluster list  Cluster Status
0                    [0, 1]               0
1  [2, 3, 4, 5, 6, 7, 8, 9]               1

In [17]:


DIR_PATH = './test_files/p0o1/'
param_names = ['param1','param2','version','infected']

df = cc.obs_DFcluster_single(DIR_PATH,param_names=param_names,fill=True)

display(df)
type(df.iloc[2]['infected'])

   param1  param2 version  infected
0     0.1    10.0      s0       0.2
1     0.1    10.0      s1       0.8
2     0.1    20.0     NaN       NaN
3     0.2    10.0     NaN       NaN
4     0.2    20.0     NaN       NaN

numpy.float64

In [18]:
type(np.NaN)

float

In [20]:
print(str(np.NaN))

nan